#project-img1{
    width: 100%;
    height: 100%;
    background-position: center;
}
#project-img2{
    width: 100%;
    height: 39vh;
}
#project-img3{
    width: 100%;
    height: 45vh;
}
#project-img4{
    width: 100%;
    height: 45vh;
}
